<div class="comment level-{{ comment.level }}" id="comment-{{ comment.id }}">
  <p id="p-{{ comment.id }}">
    {{ comment.text|safe }}
  </p>
  <ul>
    {% if comment.user.get_full_name %}
      <li>by {{ comment.user.get_full_name }}</li>
    {% else %}
      <li>by {{ comment.user.username }}</li>
    {% endif %}

    <li>{{ comment.modified|timesince }} ago</li>
  </ul>

  <ul class="right">
    {% if request.user == comment.user %}
      <li><a class="edit" id="edit-{{ comment.id }}" href="#">Edit</a></li>
      <li><a class="delete" id="delete-{{ comment.id }}" href="#">Delete</a></li>
    {% else %}
      <li><a class="reply" id="reply-{{ comment.id }}" href="#">Reply</a></li>
    {% endif %}
  </ul>

  {% if replies != '' %}
    <div class="replies">
      {{ replies|safe }}
    </div>
  {% endif %}
</div>
<div style="clear: both"></div>
