<div class="comment level-{{ comment.level }}" id="comment-{{ comment.id }}">
  <p id="p-{{ comment.id }}">{{ comment.text|safe }}</p>
  <ul>
    {% if comment.user.get_full_name %}
      <li>by {{ comment.user.get_full_name }}</li>
    {% else %}
      <li>by {{ comment.user.username }}</li>
    {% endif %}

    <li>{{ comment.created|timesince }} ago</li>
  </ul>

  <ul class="right">
    {% if request.user == comment.user %}
    <li>
      <a id="edit-{{ comment.id }}" onclick="comment_edit(this, event)" href="#">Edit</a>
    </li>
    <li>
      <a id="delete-{{ comment.id }}" onclick="comment_delete(this, event)" href="#">Delete</a>
    </li>
    {% else %}
    <li>
      <a id="reply-{{ comment.id }}" onclick="comment_reply(this, event)" href="#">Reply</a>
    </li>
    {% endif %}
  </ul>

  {% if replies %}
    <div class="replies">
      {{ replies|safe }}
    </div>
  {% endif %}
</div>
