<div class="header">
  <div class="icon plus"></div>
  <h2><a name="comments">Comments</a></h2>
  <hr/>
</div>
<div class="section">
  <hr/>
  <div class="comments">
    {% for comment in comments %}
      {% include "include/comment.html" %}
    {% endfor %}
  </div>
  <div class="form">
    <div class="buttons">
      <button class="add" type="button">Add</button>
      <button class="post" type="submit">Post</button>
    </div>
    <div style="clear: both"></div>
    <form name="comment" action="#" method="post">
      <textarea></textarea>
    </form>
  </div>
</div>

