.replies {
  margin: 30px 0 0 0;
}

.level-1 {
  margin: 10px 0 0 0;
  width: 600px;
}

.level-2 {
  margin: 10px 0 0 30px;
  width: 570px;
}

.level-3 {
  margin: 10px 0 0 65px;
  width: 505px;
}

.level-4 {
  margin: 10px 0 0 100px;
  width: 560px;
}

.comment p {
  background-color: #EEEEEE;
  border-radius: 15px 15px 15px 15px;
  border-radius: 15px;
  padding: 10px 10px 10px 10px;
}

.comments {
  margin: 0 0 20px 0;
}

.comments h2 {
  float: left;
}

.comments ul {
  float: left;
}

.comments ul.right {
  float: right;
}

.comments li {
  float: left;
  padding: 0 10px 0 0;
}

.comment-form {
  float: left;
}

.buttons {
  margin: 10px 0 0 0;
  clear: both;
  width: 600px;
}

.post {
  float: right;
  margin: 5px 0 0 0;
}

.comment-form input {
  width: 600px;
}

.message {
  width: 600px;
  text-align: center;
}

.error {
  width: 600px;
  color: red;
  text-align: center;
}

.comment-edit {
  padding: 10px 10px 10px 10px;
  display: none;
}

.comment-reply {
  padding: 10px 10px 10px 10px;
  display: none;
}
