h1 {
  padding: 10px 10px 10px 10px;
  font-size: 250%;
}

h2 {
  padding: 15px 5px 0px 5px;
  font-size: 125%;
}

h3 {
  padding: 5px 5px 5px 15px;
}

hr {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  width: 800px;
}

p {
  padding: 5px 5px 5px 15px;
  width: 800px;
}

ul {
  list-style-type: none;
}

.subsection p {
  padding: 5px 5px 5px 30px;
}

.subsection p a {
  padding: 5px 5px 5px 50px;
}

.welcome div {
	text-align: center;
	text-shadow: 1px 1px 0px black;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -380px;
}

.welcome p.grey {
	font-size: 14px;
	margin-top: 30px;
	margin-bottom: 5px;
	color: #888;
}

.comments {
  margin: 0 0 20px 0;
}

.comment {
  margin: 15px 0 0 0;
}

.comment p {
  background-color: #EEEEEE;
  border-radius: 15px 15px 15px 15px;
  border-radius: 15px;
  width: 800px;
}

.comments h2 {
  float: left;
}

.comments li {
  float: left;
  padding: 0 10px 0 0;
}

.buttons {
  margin: 0 0 3px 14px;
}

.post {
/*  margin: 2px 0 0 10px; */
  display: none;
}

.plus {
  margin: 16px 3px 0 0;
  float: left;
	background: url(/media/ui-icons_228ef1_256x240.png);
  background-position: -16px -128px;
  width: 16px; 
  height: 16px;
}

.minus {
  margin: 16px 3px 0 0;
  float: left;
	background: url(/media/ui-icons_228ef1_256x240.png);
  background-position: -48px -128px;
  width: 16px; 
  height: 16px;
}



.form textarea {
  display: none;
  margin: 0 0 0 15px;
  width: 600px;
  height: 372px;
  border: 3px solid #cccccc;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  background-position: bottom right;
  background-repeat: no-repeat;
}
